@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 8rem
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 5rem
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem
  }
}

.GuessInput {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.GuessInputForm {
  width: 200px;
  height: 200px;
  font-size: 100px;
  border-radius: 10px 0 0 10px !important;
  text-align: center;
}

.GuessInputButton {
  height: 200px;
  width: 6rem;
  font-size: 40px;
  border-radius: 0 10px 10px 0 !important

}


